<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- myCss.style %>
        <title>NFT</title>
</head>

<body>
    <div class="textArea">
        <h1>Welcome to the future</h1>
        <h3>In order to receive your NFT you have to store it on a wallet.</h3>
        <h3>Don't worry: if you don't have one we provided creating a brand new wallet for you</h3>
        <br>
        <button class="button" onclick="window.location.href='/<%=address%>/transfer';">I want to use my Wallet</button>
        <button class="button" onclick="window.location.href='/<%=address%>/credentials';">I want to use Sisal
            Wallet</button>
    </div>
    <div class="textArea">
        <h1>Here you find your nft image, to download click the button below</h1>
        <button class="button" onclick="download()">Here</button>
    </div>
    <script src=
    "https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js">
    </script>
    <script>
        function download(){
          axios({
              url: <%=image%>,
              method:'GET',
              responseType: 'blob'
      })
      .then((response) => {
             const url = window.URL
             .createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'image.jpg');
                    document.body.appendChild(link);
                    link.click();
      })
      }
    </script>
    <br>
    <img class="image" alt=”Image” src="<%=image%>" style="width:-webkit-fill-available">
    <br>
    <br>
</body>

</html>